.bus {
  display: flex;
}

.bus-bold {
  font-weight: 600;
  font-size: 13px;
  color: #556e8b;
}

.bus-row-num {
  font-weight: 600;
}

.bus-row-num,
.bus-label {
  font-size: 12px;
  color: #556e8b;
  margin: 0;
  padding: 0;
}

.bus-content {
  display: flex;

  border: 4px solid rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}

.bus-head {
  display: flex;
  justify-content: space-between;
}

.bus-head__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bus-body {
  position: relative;
}

.bus-places {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bus-door {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-width: 102px;
  width: 102px;
  height: 102px;
}

.bus-places-item--door ul {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bus-door p {
  margin: 0;
  padding: 0;
  line-height: 30px;
}

.bus-place {
  position: relative;

  min-width: 45px;
  width: 45px;
  height: 45px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  outline: 0;

  background: rgba(104, 147, 198, 0.1);
  border: 1px solid rgba(104, 147, 198, 0.3);
  border-radius: 6px;
  transition: background 0.25s ease;
  cursor: pointer;

  font-family: inherit;
  color: #6893c6;
  font-size: 14px;
}

.bus-place input {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  cursor: pointer;
  opacity: 0;

  background: 0;
  border: 0;
  padding: 0;
  margin: 0;
}

.bus-place p {
  margin: 0;
  padding: 0;
}

.bus-place:hover {
  background: rgba(104, 147, 198, 0.2);
}

.bus-place--taken {
  background: #6893c6;
  border: 1px solid rgba(104, 147, 198, 0.3);
  color: #fff;
}

.bus-place--taken:hover {
  background: rgba(104, 147, 198, 0.9);
}

.bus-place--selected {
  background: #6ac689;
  border: 1px solid rgba(104, 147, 198, 0.3);
  color: #fff;
}

.bus-place--selected:hover {
  background: #73d995;
}

.bus-place__text {
  z-index: 1;
  position: absolute;

  padding: 14px 16px;
  white-space: nowrap;

  background: #ffffff;
  box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 6px;

  pointer-events: none;
  opacity: 0;
  transition: opacity 0.25s ease;

  color: #000;
  line-height: 1;
  font-weight: 600;
}

.bus-place:hover .bus-place__text {
  opacity: 1;
}

.bus-row {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
}

.bus-row > li {
  text-align: center;
}
