extends ../templates/template.pug
block content
  
  .container
    h2.title Загрузка транспорта. Схема автобуса

    ul.bus-legend
      li
        .bus-legend__item.bus-legend__item--taken
          .bus-legend__rect
          p Место занято
      li
        .bus-legend__item.bus-legend__item--free
          .bus-legend__rect
          p Место свободно

    section.bus
      p.bus-label Правая сторона

      .bus-container
        +bus-row

        .bus-content
          .bus-head
            .bus-head__item
              span.bus-head__text Дверь
            .bus-head__item
              span.bus-head__text Водитель

          .bus-body
            ul.bus-places
              - for (var i = 0; i < 50; i++)
                - var isDoor = i === 22;

                if isDoor
                  li
                    .bus-door
                      p Дверь
                      p Кухня

                else
                  li
                    -
                      var isTaken = [4, 5].includes(i);
                      var text = isTaken ? 'Занятое место' : 'Свободное место';
                      var isDoorSkipped = i > 22;
                      var num = isDoorSkipped ? i : i + 1;
                      var isSmall = i >= 45;

                    button.bus-place(class={
                      'bus-place--taken': isTaken,
                      'bus-place--small': isSmall,
                    } type="button")
                      p.bus-place__text= text
                      p.bus-place__num= num


        +bus-row

      p.bus-label Левая сторона


mixin bus-row
  ul.bus-row
    li
      p.bus-label Ряд
      
    - for (var i = 0; i < 13; i++)
      li
        p.bus-row-num= i+1

