.orders-calendar {
  width: 350px;
}

.orders-calendar-head {
  margin-bottom: 16px;
}

.orders-calendar-head__title {
  display: block;

  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  color: #333333;
}

.orders-calendar-table {
  border-collapse: collapse;
  border-spacing: 0;
}

.orders-calendar-table td:not(.orders-calendar-placeholder) {
  border: 1px solid #dbdce0;
}

.orders-calendar-placeholder {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  z-index: -1;
}

.orders-calendar-day {
  position: relative;

  min-width: 50px;
  width: 50px;
  height: 50px;
}

.orders-calendar-day::before {
  content: '';

  display: none;
  width: calc(100% + 3px);
  height: 20px;

  background: var(--background);

  left: -1px;
  position: absolute;
  bottom: 4px;
}

.orders-calendar-day--order::before,
.orders-calendar-day--start::before,
.orders-calendar-day--end::before {
  display: block;
}

.orders-calendar-day--start::before {
  border-top-left-radius: 55px;
  border-bottom-left-radius: 55px;
}
.orders-calendar-day--end::before {
  border-top-right-radius: 55px;
  border-bottom-right-radius: 55px;
}

.orders-calendar-day__num {
  position: absolute;
  top: 6px;
  right: 6px;

  font-size: 11px;
  text-align: right;
  color: #333333;

  margin: 0;
}

.orders-calendar-day__text {
  z-index: 1;
  position: absolute;
  bottom: 10px;
  left: 8px;

  max-width: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;

  font-size: 9px;
  line-height: 1;
  color: #ffffff;
}

.orders-calendar-day__text--max-width {
  max-width: calc(var(--width) * 40px + 16px);
}
